.text_section h1{
    opacity: 0;
    transform: translateX(100%);
    animation: fadeSlideRight 1s forwards;
}
@keyframes fadeSlideRight {
    0%{
        opacity: 0;
        transform: translateX(100%);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}

.text_section p{
    opacity: 0;
   transform: translateX(-100%);
    animation: fadeSlideLeft 1.3s forwards;
}
@keyframes fadeSlideLeft {
    0%{
        opacity: 0;
        transform: translateX(-100%);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}

/*.card_section{
    opacity: 0;
    transform: translateX(100%);
    animation: fadeSlideRight 1.3s forwards;
}
@keyframes fadeSlideRight {
    0%{
        opacity: 0;
        transform: translateX(100%);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}
*/
.incharge_section{
    opacity: 0;
    transform: translateX(-100%);
    animation: fadeSlideLeft 1.3s forwards;
}
@keyframes fadeSlideLeft {
    0%{
        opacity: 0;
        transform: translateX(-100%);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}

