*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #fff;
    background-image: linear-gradient(rgba(0,0,0,0.15), rgba(0,0,0,0.65)), url(../img/mountain-477832.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    min-height: 100vh;
    overflow-x: hidden;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 30px;
}

img{
    width: 100%;
}